body {
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  max-width: 800px;
  width: 100%;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
input {
  margin-left: 14px;
  padding: 8px 14px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  font-size: 28px;
  color: yellow;
  margin-bottom: 25px;
}

input[type='text'] {
  width: 100%;
  padding: 12px 20px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  margin-bottom: 20px;
  transition: border-color 0.3s;
}

input[type="text"],
select {
  flex-grow: 1;
  font-size: 16px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f8f9fa;
  margin-left: 6px;
  outline: none;
  transition: border-color 0.2s, background-color 0.2s;
}

input[type="text"]:focus,
select:focus {
  border-color: #007bff;
  background-color: #ffffff;
}

input[type='text']:focus {
  border-color: #007bff;
  outline: none;
}

input[type='checkbox'] {
  margin-right: 15px;
  transform: scale(1.2);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 6px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

li:hover {
  background-color: #e9ecef;
}

.completed {
  text-decoration: line-through;
  color: rgb(28, 227, 28);
}

.error-snackbar {
  background-color: #f44336;
  color: #fff;
}

.error-snackbar .mat-simple-snackbar-action {
  color: #fff;
}

.filter + .filter {
  margin-left: 8px;
}

.red {
  color: red;
}

.green {
  color: green;
}
mat-form-field {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  margin-right: 8px;
}

button {
  padding: 8px 14px;
  font-size: 14px;
  background-color: #f44336;
  margin-bottom: 6px;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #d32f2f;
}
